body, html {
  margin: 0;
  height:100%;
}

body {
	display: grid;
	grid-template-areas: "nav main";
	grid-template-columns: 30% 1fr;
	width:100%;
}
#welcome {
	grid-column: 1/3;
}
#welcome div {
	width: 90%;
	max-width:500px;
	margin: 10% auto;
}
.tip {
	padding-left: 10px;
}
#anotherTip {
	border: solid 1px darkgrey;
    width: 100%;
    display: block;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}
#anotherTip:hover {
	background-color: darkgrey;
	color:white;
}
#side,#main {
	padding:20px;
	box-sizing: border-box;
	/*display:inline-box;*/
}
#side>* {
	margin-top:0;
}


#main {
	padding-top:calc( 20px + 0.2em );

}

a, a:visited, a:hover {
	color:inherit;
	text-decoration: none;
}

.current, .current *, .current:hover {
	color:red;
}
#main input[type=text], #main select {
	width: 100%;
}
textarea {
	width:100%;
	min-height:200px;
}

label {
	margin: 5px 0;
    display: inline-block;
}

.mb1 {
	margin-bottom:1em;
}

.mt0 {
	margin-top:0;
}

.mt1 {
	margin-top:1em;
}

.listPersos li {
	display: inline-block;
}

.listPersos li+li:before {
	content:"–";
	display: inline-block;
	margin: 0 5px;
}

#formSettings {
	width:calc( 100vw - 40px );
	padding:0 20px;
}

#couvSubmenu {
	margin-left: 50px;
	display:none;
}

#addCouv:checked ~ #couvSubmenu {
	display: block;
}

ul {
	list-style-type: none;
	padding:0;
	margin: -5px 0;
}

li {
	margin: 5px 0;
}

form {
	position: relative;
}

.closeThing {
	display: inline-block;
    position: absolute;
    left: -1em;
    top: 0;
    margin: 0;
}

.closeThing:before {
	content:"+";
	text-align: center;
    width:1em;
    line-height:1em;
    
    cursor: pointer;
}

.closeThing:hover:before {
	content:"–";
}

.hidden {
	visibility: hidden;
}

.bold {
	font-weight: bold;
}

.draggable {
	width:100%;
	display:block;
}

.dragging {
	border: solid 1px grey;
	position: absolute;
	display:block;
	background-color: white;
}

.loader {
  	border: 16px solid lightgrey;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	
	position:absolute;
	margin-top:calc( 50vh - 60px );
	margin-left:calc( 50vw - 60px );
	animation: spin 0.5s linear infinite;
}

.loader:after {
  	content: "";
    display: block;
    background-color: darkgrey;
    width: 16px;
    height: 64px;
    transform: rotate(27deg);
    margin-top: 66px;
    margin-left: -13px; 
}


@keyframes spin {
  0% { 
  	border-color:lightgrey;
  	border-top-color:darkgrey;
  }
  25% { 
  	border-color:lightgrey;
  	border-right-color:darkgrey;
  }
  50% { 
  	border-color:lightgrey;
  	border-bottom-color:darkgrey;
  }
  75% { 
  	border-color:lightgrey;
  	border-left-color:darkgrey;
  }
}
