<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Enquête 2 joueurs - éditeur</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="loader"></div>
	<script type="text/template" id="welcome">
		<div id="welcome">
			<div>
				<h3><%= T.welcome %></h3>
				<p><%= T.oneTip %></p>
				<p class="tip"><%= T.tips[0] %></p>
				<a id="anotherTip"><%= T.anotherTip %></a>
			</div>
		</div>
	</script>

	<script type="text/template" id="template">
		<div id="side">
			<h3 class="sideTitre <%= (project.display=="intro")? "current":"" %>"><a href="#" id="introBtn"  data-display="intro" class="changeDisplay" data-cible="currentIntro" data-id=""><%= T.introductions %></a></h3>
			<h3 class="sideTitre <%= (project.display=="perso")? "current":"" %>" ><a href="#" id="persoBtn" class="changeDisplay" data-display="perso" data-cible="currentPerso" data-id=""><%= T.characters %></a></h3>	
			<h3 class="sideTitre <%= (project.display=="question")? "current":"" %>"><a href="#" id="questionsBtn" class="changeDisplay" data-display="question" data-cible="currentQuestion" data-id=""><%= T.questions %></a></h3>
		</div>
		<div id="main"></div>
	</script>

	<script type="text/template" id="introduction">
		<ul>
		<% ["introFlic","introCoupable"].forEach(function(el) { %>
			<% if(i==el) { %>
				<li><form id="formIntro" data-id="<%= el %>">
					<!-- <label for="titre">Titre : </label>
					<input type="text" id="titre" value="<%= project[el].titre %>" placeholder="<%= (el=="introFlic")? T.inspectorIntroduction:T.culpritIntroduction %>">
					<div></div> -->
					<textarea id="corps"><%= project[el].corps %></textarea>
					<!-- <input type="submit"> -->
				</form></li>
			<% } else { %>
				<li><a href="#" class="changeDisplay" data-display="intro" data-id="<%= el %>" data-cible="currentIntro"><%= project[el].titre||( (el=="introFlic")? T.inspectorIntroduction:T.culpritIntroduction) %></a></li>
			<% } %>
		<% }) %>
		</ul>
	</script>

	<script type="text/template" id="persos">
		<ul>
		<% project.persos.forEach(function(el) { 
			if(p && p != "new" && p.id == el.id) { %>
				<li><form id="formPerso" data-id="<%= p.id %>" class="mt-1 mb-1">
					<div class="closeThing" data-toclose="currentPerso"></div>
					<label for="nomPerso" class="mt0"><%= T.name %> : </label>
					<input type="text" id="nom" value="<%= p.nom %>" >
					<div></div>
					<label for="coupable"><%= T.guilty %> : </label>
					<input type="checkbox" id="coupable" <%= (p.coupable)? "checked":"" %>>
					<!-- <input type="submit"> -->
				</form></li>
				<div></div>
			<% } else { %>

			<li><a href="#" class="perso changeDisplay" data-id="<%= el.id %>" data-display="perso" data-cible="currentPerso"><%= el.nom %><%= (el.coupable)? "(🔪)":"" %></a></li>

			<% } %>

		<% }) %>

		<% if(p == "new") { %>
			<li><form id="formPerso" data-id="new" class="mt-1 mb-1">
				<label for="nomPerso"><%= T.name %> : </label>
				<input type="text" id="nom" value="" >
				<div></div>
				<label for="coupable"><%= T.guilty %> : </label>
				<input type="checkbox" id="coupable">
				<!-- <input type="submit"> -->
			</form></li>
		<% } else { %>
			<li><a href="#" data-display="perso" class="changeDisplay" data-cible="currentPerso" data-id="new"><%= T.newCharacter %></a>
		<% } %></li>
		</ul>
	</script>

	<script type="text/template" id="question">
		<ul>
		<% project.questions.forEach(function(el) { %>
			<% if(q && q.id==el.id &&!dragging) { %>
				<li><form id="formQuestion" data-id="<%= el.id %>">
					<div class="closeThing" data-toclose="currentQuestion"></div>
					<label for="titre" class="mt0"><%= T.question %> : </label>
					<input type="text" id="titre" value="<%= el.titre %>" />
					<div></div>
					<label for="hide"><%= T.hide %> : </label>
					<input type="checkbox" id="hide" <%= (el.hide)? "checked":"" %>>
					<div></div>
					<p class="mb1"><%= T.answers %> :</p>
					<ul class="listPersos">
						<% project.persos.forEach(function(char){ 
							var rep = _.find(el.rep,{perso:char.id});	
							%><li><a href="#" class="perso changeDisplay <%= (rep && (rep.verite || rep.mensonge))? "bold":"" %> <%= (p && p.id == char.id)? "current":"" %>" data-id="<%= char.id %>" data-display="question" data-cible="currentPerso"><%= char.nom %><%= (char.coupable)? "(🔪)":"" %></a></li><% }) %>	
					</ul>
					<div></div>
					<% if(p) { 
						var rep = _.find(el.rep,{perso:p.id});
						var qHide = _.where(project.questions,{hide:true}); %>
						<label for="verite"><%= T.truth %></label>
						<textarea id="verite" data-id="<%= p.id %>" data-type="verite"><%= (rep && rep.verite)? rep.verite:"" %></textarea>
						<select id="unlockVerite">
							<option value=""><%= T.unlockAQuestion %></option>
							<% qHide.forEach(function(qH) { 
								if(qH.id != el.id) { %>
								<option value="<%= qH.id %>" <%= (rep && rep.unlockVerite == qH.id)? "selected":"" %> ><%= T.unlock %>: <%= qH.titre %></option>
							<% }; }) %>
						</select>
						<div class="mb1"></div>
						<% if (p.coupable) { %>
							<label for="mensonge"><%= T.lie %></label>
							<textarea id="mensonge" data-id="<%= p.id %>"><%= (rep && rep.mensonge)? rep.mensonge:"" %></textarea>
							<select id="unlockMensonge">
								<option value=""><%= T.unlockAQuestion %></option>
								<% qHide.forEach(function(qH) { 
									if(qH.id != el.id) { %>
									<option value="<%= qH.id %>" <%= (rep && rep.unlockMensonge == qH.id)? "selected":"" %> ><%= T.unlock %>: <%= qH.titre %></option>
								<% }; }) %>
							</select>
							<div class="mb1"></div>
						<% } %>
					<% } %>
					<!-- <input type="submit"> -->
				</form></li>
			<% } else { %>
				<li><a href="#" class="changeDisplay draggable <%=(q && q.id==el.id && dragging)? "hidden":"" %>" data-display="question" data-id="<%= el.id %>" data-cible="currentQuestion" draggable="false"><%= el.titre %></a></li>
			<% } %>
		<% }) %>

		<li><a href="#" data-display="question" class="changeDisplay" data-cible="currentQuestion" data-id="new"><%= T.newQuestion %></a></li>

		</ul>
	</script>

	<script type="text/template" id="exportSettings">
		<form id="formSettings">
			<h3><%= T.exportSettings %></h3>
			<input type="checkbox" class="toSet" id="addCouv" <%= (settings.addCouv)? "checked":"" %>><label for="addCouv"><%= T.addCover %></label>
			<div></div>
			<div id="couvSubmenu">
				<p><%= T.allIsOptional %></p>
				<label for="couvTitre"><%= T.addTitle %> : </label>
					<input type="text" class="toSet" id="couvTitre" value="<%= settings.couvTitre||"" %>" />
				<div></div>
				<label for="couvAuteur"><%= T.addAuthor %> : </label>
					<input type="text" class="toSet" id="couvAuteur" value="<%= settings.couvAuteur||"" %>" />
				<div></div>
				<label for="couvImg"><%= T.coverImage %> : </label>
					<input type="file" id="couvImg" accept="image/png, image/jpeg" />
					<% if (settings.couvImg) { %>
						<div></div>
						<img src="<%= settings.couvImg %>" style="max-width:50%;margin-top:10px;"/><input type="button" value="X" id="btnSuppImgCouv" style="vertical-align:top;margin-top:10px;" />
					<% } %>
				<div></div>
			</div>

			<input type="checkbox" class="toSet" id="addRules" <%= (settings.addRules)? "checked":"" %>><label for="addRules"><%= T.addRules %></label>
			<div style="text-align:right;margin-top:20px;">
				<input type="button" value="<%= T.cancel %>" style="margin-right:10px" id="btnAnnulerExport"/><input type="submit" value="<%= T.launchExport %>" />
			</div>
		</form>
	</script>

	<script type="text/template" id="exportEnCours">
		 <div class="loader"></div>
	</script>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/util.js"></script>
	<script src="js/app.js"></script>
	<script src="js/project.js"></script>
	<script src="js/exportSettings.js"></script>

	<!-- création pdf http://pdfmake.org -->
	<script src='js/pdfmake.min.js'></script>
 	<script src='js/vfs_fonts.js'></script>
 	<script src="js/pdfGeneration.js"></script>
</body>
</html>
